<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JEU DE NIM</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmLogOutAlertCtrl()">Deconnexion
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"style="background-color: blueviolet;">
  <div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content>loading</ion-refresher-content>
  </ion-refresher>
  <div class="container" style="align-items: center;">
    <div class="title">
    <h1 style="text-align: center;">PRET POUR UNE NOUVELLE PARTIE <ion-icon name="trophy"></ion-icon></h1>
    <h3 style="text-align: center;">BONNE CHANCE {{currentUser.prenom}}</h3></div>
    <div class="btn-game">
      <!-- <div class="btn">
      <ion-button (click)="goToGame(0)">
        <ion-icon slot="icon-only" name="game-controller-outline"></ion-icon><img src="../../../assets/img/5.jpg">
      </ion-button>
    </div> -->
      <ion-button (click)="goToGame(1)">
        <img src="../../../assets/img/4.jpg">
      </ion-button>
    </div>
  </div>
</div>
</ion-content>




<!-- ================================== modal title order =================================== -->

<ion-modal id="modal-title" #modale isOpen="{{modalIsOpen}}" [enterAnimation]="enterAnimation"
  [leaveAnimation]="leaveAnimation">
  <ng-template>
    <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar color="purple">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/home" (click)="closeModal()"></ion-back-button>
        </ion-buttons>
        <ion-title>choix de l'adversaire</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div style="width: 251px; height: 258px; left: 55px; top: 150px;position: absolute">
      <div class="ion-margin-top ">
        <div class="qty">
          <ion-input type="text" placeholder="Matricule de ton ami" [(ngModel)]="matricule"></ion-input>
          <ion-label>Nombre de batônets</ion-label>
          <ion-buttons slot="start">
            <ion-button shape="round" (click)="nbBatSubs()">
              -
            </ion-button>
            <b> {{pile}}</b>
            <ion-button shape="round" (click)="nbBatAdd()">
              +
            </ion-button>
          </ion-buttons>
        </div>
        <div class="btn d-f-c">
          <ion-button block class="ion-margin" [disabled]="matricule.length < 8" (click)="nouveauJeu()">
            Jouer
          </ion-button>
        </div></div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

